.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
}
.home-button{
    width: 50px;
    background-color: white;
    border-width: 0;
    
}
.home-div:hover{
    background-color: lightslategray;
}
.subscriptions-button{
    width: 50px;
    background-color: white;
    border-width: 0;
    cursor: pointer;
    margin-left: 15px;

}
.originals-button{
    width: 50px;
    background-color: white;
    border-width: 0;
}
.youtube-music-button{
    width: 50px;
    background-color: white;
    border-width: 0;
    margin-left: 20px;
}
.library-button{
    width: 50px;
    background-color: white;
    border-width: 0;
}
.explore-button{
    width: 50px;
    background-color: white;
    border-width: 0;
}